
<!-- <p fundoAmarelo style="background-color: yellow ">FUNDO AMARELO</p> -->

<p fundoAmarelo >FUNDO AMARELO</p>
<button fundoAmarelo>Botãozãum</button>
<br>
<p fundoVerde >FUNDO AMARELO</p>
<button fundoVerde>Botãozãum</button>
<br>
<p highlightMouse >Texto com highlight quando passo o mouse</p>
<br>
<!-- <p highlight [defaultColor]="'grey'" [backgroundColor]="'red'">1 Texto com highlight customizada 1</p> -->
<br>
<p [highlight]="'red'" [defaultColor]="'black'"  >1 - Texto com highlight customizada - 1</p>
